body {
  margin: 0;
  font-family: 'Concert One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: linear-gradient(89deg, #f9fbfc 0%, rgb(239, 243, 242) 100%);

}

h1{
  color: rgb(15, 10, 10);
  text-shadow: 0.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
